# SECTION 01. 파이썬 데이터 분석 라이브러리 이용하기

## 1. 넘파이 이용하기

In [1]:
# 넘파이(Numpy)불러오기
import numpy as np

# 넘파이(Numpy) 데이터 만들기
a = np.array([1,2,3,4,5])
b = np.array(['대한민국', '포르투칼', '가나', '우르과이'])
c = np.array([1,2,'대한민국', '포르투칼'])

#출력하기
print (a)
print (b)
print (c)

[1 2 3 4 5]
['대한민국' '포르투칼' '가나' '우르과이']
['1' '2' '대한민국' '포르투칼']

## 2. 판다스 이용하기

In [2]:
# 판다스(Pandas)불러오기
import pandas as pd

# 시리즈(Series)생성하기
s=pd.Series(['대한민국','포르투칼','가나','우르과이'], index=['가','나','다','라'], name='2022년 카타르 월드컵 H조')

# 출력하기
print(s)

가    대한민국
나    포르투칼
다      가나
라    우르과이
Name: 2022년 카타르 월드컵 H조, dtype: object

In [ ]:
#딕셔너리(Dictionary)형으로 데이터프레임(DataFrame) 생성하기
a1 = pd.DataFrame({"a" : [1,2,3], "b" : [4,5,6], "c" : [7,8,9]})
a1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
# 리스트(LIST)형으로 데이터프레임(DataFrame) 생성하기
a2 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], ["a","b","c"])
a2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [5]:
# 대/소문자 미 구분시 에러 메세지
s=pd.series(['대한민국','포르투칼','가나','우르과이'], index=['가','나','다','라'], name='2022년 카타르 월드컵 H조')
print(s)

AttributeError: module 'pandas' has no attribute 'series'

In [6]:
# 대/소문자를 구별하지 않는 경우 에러 메세지
a1 = pd.dataframe({"a" : [1,2,3], "b" : [4,5,6], "c" : [7,8,9]})
a1

AttributeError: module 'pandas' has no attribute 'dataframe'

# SECTION 02. 데이터 불러오기

In [7]:
# 넘파이(Numpy), 판다스(pandas)불러오기
import pandas as pd
import numpy as np

#read_csv 함수 사용하여 데이터 불러오기
flight = pd.read_csv('./Clean_Dataset.csv', encoding = "cp949")
flight

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
10,10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954
12,12,Indigo,6E-5001,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
13,13,Indigo,6E-6202,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.17,1,5955
14,14,Indigo,6E-549,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5955
15,15,Indigo,6E-6278,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
16,16,Air_India,AI-887,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.08,1,5955
17,17,Air_India,AI-665,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5955
18,18,AirAsia,I5-747,Delhi,Evening,one,Early_Morning,Mumbai,Economy,12.25,1,5949
19,19,AirAsia,I5-747,Delhi,Evening,one,Morning,Mumbai,Economy,16.33,1,5949
20,20,GO_FIRST,G8-266,Delhi,Early_Morning,one,Evening,Mumbai,Economy,11.75,1,5954
21,21,GO_FIRST,G8-101,Delhi,Early_Morning,one,Night,Mumbai,Economy,14.50,1,5954
22,22,GO_FIRST,G8-103,Delhi,Evening,one,Morning,Mumbai,Economy,15.67,1,5954
23,23,Air_India,AI-441,Delhi,Evening,one,Night,Mumbai,Economy,3.75,1,5955
24,24,Indigo,6E-5328,Delhi,Morning,zero,Morning,Mumbai,Economy,2.50,1,6165
25,25,Vistara,UK-933,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6690
26,26,Indigo,6E-2046,Delhi,Evening,zero,Evening,Mumbai,Economy,2.17,1,6585
27,27,AirAsia,I5-744,Delhi,Morning,one,Afternoon,Mumbai,Economy,5.83,1,8869
28,28,SpiceJet,SG-8169,Delhi,Evening,zero,Night,Mumbai,Economy,2.33,1,10260
29,29,Indigo,6E-5041,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,10470
...,...,...,...,...,...,...,...,...,...,...,...,...
300123,300123,Vistara,UK-826,Chennai,Afternoon,one,Afternoon,Hyderabad,Business,23.75,49,41064
300124,300124,Vistara,UK-824,Chennai,Night,one,Night,Hyderabad,Business,24.42,49,41064
300125,300125,Vistara,UK-828,Chennai,Early_Morning,one,Early_Morning,Hyderabad,Business,24.83,49,41064
300126,300126,Vistara,UK-822,Chennai,Morning,one,Afternoon,Hyderabad,Business,26.50,49,41064
300127,300127,Vistara,UK-832,Chennai,Early_Morning,one,Evening,Hyderabad,Business,9.92,49,51457
300128,300128,Vistara,UK-838,Chennai,Night,one,Morning,Hyderabad,Business,12.33,49,51457
300129,300129,Vistara,UK-832,Chennai,Early_Morning,one,Evening,Hyderabad,Business,12.75,49,51457
300130,300130,Vistara,UK-838,Chennai,Night,one,Afternoon,Hyderabad,Business,15.50,49,51457
300131,300131,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,15.83,49,51457
300132,300132,Vistara,UK-834,Chennai,Evening,one,Morning,Hyderabad,Business,16.00,49,51457
300133,300133,Vistara,UK-834,Chennai,Evening,one,Afternoon,Hyderabad,Business,19.17,49,51457
300134,300134,Vistara,UK-838,Chennai,Night,one,Evening,Hyderabad,Business,19.92,49,51457
300135,300135,Vistara,UK-838,Chennai,Night,one,Evening,Hyderabad,Business,22.75,49,51457
300136,300136,Vistara,UK-834,Chennai,Evening,one,Evening,Hyderabad,Business,23.58,49,51457
300137,300137,Vistara,UK-838,Chennai,Night,one,Night,Hyderabad,Business,25.83,49,51457
300138,300138,Vistara,UK-832,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.33,49,51457
300139,300139,Vistara,UK-834,Chennai,Evening,one,Evening,Hyderabad,Business,26.42,49,51457
300140,300140,Air_India,AI-539,Chennai,Evening,one,Night,Hyderabad,Business,6.58,49,51345
300141,300141,Air_India,AI-430,Chennai,Morning,one,Night,Hyderabad,Business,13.67,49,51345
300142,300142,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,16.00,49,51345
300143,300143,Air_India,AI-440,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.42,49,51345
300144,300144,Air_India,AI-539,Chennai,Evening,one,Morning,Hyderabad,Business,18.92,49,51345
300145,300145,Air_India,AI-430,Chennai,Morning,one,Morning,Hyderabad,Business,23.08,49,51345
300146,300146,Air_India,AI-440,Chennai,Early_Morning,one,Morning,Hyderabad,Business,26.83,49,51345
300147,300147,Air_India,AI-569,Chennai,Early_Morning,one,Night,Hyderabad,Business,17.25,49,68739
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

# SECTION 03. 데이터 저장하기

In [8]:
# a2 데이터프레임 만들기
a2 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], ['a','b','c'])
a2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [9]:
# to_csv함수 활용하여 저장하기
a2.to_csv('./result_a2.csv')

In [10]:
# result_a2.csv을 불러오기
result=pd.read_csv('./result_a2.csv', encoding = "cp949")
result

  Unnamed: 0  0  1  2
0          a  1  2  3
1          b  4  5  6
2          c  7  8  9

In [ ]:
# read_csv 함수의 파라미터를 활용하여 원하는 칼럼만 가지고 데이터 프레임 만들기 
flight2 = pd.read_csv('./Clean_Dataset.csv', index_col='stops', 
 usecols=['stops', 'departure_time','arrival_time','destination_city'])
flight2

      departure_time   arrival_time destination_city
stops
zero         Evening          Night           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning  Early_Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
zero       Afternoon        Evening           Mumbai
zero   Early_Morning        Morning           Mumbai
zero       Afternoon        Evening           Mumbai
zero       Afternoon        Evening           Mumbai
zero         Morning      Afternoon           Mumbai
zero   Early_Morning        Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero       Afternoon        Evening           Mumbai
zero         Morning        Morning           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning        Morning           Mumbai
one          Evening  Early_Morning           Mumbai
one          Evening        Morning           Mumbai
one    Early_Morning        Evening           Mumbai
one    Early_Morning          Night           Mumbai
one          Evening        Morning           Mumbai
one          Evening          Night           Mumbai
zero         Morning        Morning           Mumbai
zero       Afternoon        Evening           Mumbai
zero         Evening        Evening           Mumbai
one          Morning      Afternoon           Mumbai
zero         Evening          Night           Mumbai
zero         Evening          Night           Mumbai
...              ...            ...              ...
one        Afternoon      Afternoon        Hyderabad
one            Night          Night        Hyderabad
one    Early_Morning  Early_Morning        Hyderabad
one          Morning      Afternoon        Hyderabad
one    Early_Morning        Evening        Hyderabad
one            Night        Morning        Hyderabad
one    Early_Morning        Evening        Hyderabad
one            Night      Afternoon        Hyderabad
one    Early_Morning          Night        Hyderabad
one          Evening        Morning        Hyderabad
one          Evening      Afternoon        Hyderabad
one            Night        Evening        Hyderabad
one            Night        Evening        Hyderabad
one          Evening        Evening        Hyderabad
one            Night          Night        Hyderabad
one    Early_Morning        Morning        Hyderabad
one          Evening        Evening        Hyderabad
one          Evening          Night        Hyderabad
one          Morning          Night        Hyderabad
one          Evening        Morning        Hyderabad
one    Early_Morning          Night        Hyderabad
one          Evening        Morning        Hyderabad
one          Morning        Morning        Hyderabad
one    Early_Morning        Morning        Hyderabad
one    Early_Morning          Night        Hyderabad
one          Morning        Evening        Hyderabad
one        Afternoon          Night        Hyderabad
one    Early_Morning          Night        Hyderabad
one    Early_Morning        Evening        Hyderabad
one          Morning        Evening        Hyderabad

[300153 rows x 3 columns]

In [12]:
# crosstab확인하기
pd.crosstab(index=flight.source_city, columns=flight.arrival_time)

arrival_time  Afternoon  Early_Morning  Evening  Late_Night  Morning  Night
source_city
Bangalore          6992           3154    14493        2673    10411  14338
Chennai            5152           1606    10830        1999     7106  12007
Delhi              8007           5262    14630        2143    13007  18294
Hyderabad          4816           1581    10539        2092     8854  12924
Kolkata            5941           2156    11304        2414     9595  14937
Mumbai             7231           1658    16527        2680    13762  19038